html {
  margin: 0;
  font-size: 16px;
  font-family: 'Muli', sans-serif;;
}

body {
  background: #4d3399;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
}

p {
  margin-top: 0;
  text-align: center;
}

form {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 35%;
  text-align: left;
}

li {
  margin-bottom: 5px;
}

.form-container {
  background: #fbfbfb;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: -4px -3px 0px 5px rgba(58,38,115,1),
                4px 3px 0px 5px rgba(58,38,115,1);
}

.rowtab {
  margin: 50px 0;
}

.rowtab-second {
  margin: 15px 0 0 10px;
}

.input-field {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #989898;
  width: 40%;
  height: 25px;
  text-align: center;
}
