html {
  margin: 0;
  font-size: 16px;
  font-family: 'Muli', sans-serif;;
}

body {
  background: #4d3399;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

p {
  margin-top: 0;
  text-align: center;
}

form {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 37%;
  text-align: left;
}

li {
  margin-bottom: 5px;
}

textarea {
    width: 100%;
}

.form-container {
  background: #fbfbfb;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: -4px -3px 0px 5px rgba(58,38,115,1),
                4px 3px 0px 5px rgba(58,38,115,1);
}

.rowtab {
  margin: 50px 0;
}

.rowtab-second {
  margin: 15px 0 0 10px;
}

.input-field {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #989898;
  width: 40%;
  text-align-last: center;
  height: 25px;
  text-align: center;
}

.option-field {
    text-align-last: center;
}

.radio-center {
    margin-left: 42.5%;
}

.textarea-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
  text-align-last: center;
}

.submit-tab {
  margin-top: -15px;
}

.submit-field {
  background-color: #4d3399;
  font-size: 1.1rem;
  color: #fbfbfb;
  width: 15%;
  height: 30px;
}

@media screen and (max-width: 500px){

  h1 {
    margin-bottom: 20px;
  }

  ul {
    margin-left: 15%;
  }

  .textarea-container {
    width: 95%;
  }

  .radio-center {
    margin-left: 27%;
  }

  .form-container {
    width: 65%;
  }

  .input-field {
    width: 100%;
  }

  .submit-field {
    width: 50%;
  }
}
