html {
  font-size: 16px;
  color: white;
  font-family: 'Rokkitt', serif;
}

body {
  background-color: #061826;
  text-align: center;
}

h1 {
  margin-bottom: -10px;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  color: hsl(356, 96%, 55%);
}

.head-container {
  font-size: 1.5rem;
  margin: 40px 0 10px 0;
}

.img-container {
  background-color: #09263c;
  padding: 30px 30px 40px 30px;
}

#img-div {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 480px;
}

#image {
  text-align: center;
  max-width: 100%;
}

section {
  margin: 50px 150px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 500px) {
  section {
    margin: 30px;
  }
}

.tribute-info_plot {
  margin-bottom: 100px;
}

.tribute-info_intro {
}
