/*------------Base--------------*/
/*color #0c3f70*/

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

header {
  font-size: 1.8rem;
}

main {
  position: absolute;
  margin-left: 310px;
  margin-right: 50px;
  padding: 20px;
}

section {
  margin-bottom: 5%;
}

p {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}

code {
  display: block;
  position: relative;
  background-color: #f7f7f7;
  margin-left: 25px;
  border-radius: 5px;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}


/*------------Layout--------------*/

/*navbar*/
nav {
  display: block;
}

#navbar {
  height: 100%;
  min-width: 290px;
  width: 300px;
  box-shadow: 10px 10px 10px 0px #e2e2e2;
  position: fixed;
  top: 0;
  left: 0;
}

.primary-nav--title {
  background-color: #0c3f70;
  color: white;
  padding: 5px 0 5px 25px;
}

.primary-nav--ul {
  list-style: none;
  text-align: center;
  background-color: white;
  height: 90%;
  padding: 0;
  margin-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.primary-nav--li {
  position: relative;
  font-size: 1.2rem;
  border: 0.5px solid #e2e2e2;
  padding: 10px 0;
}


.primary-nav--ul a {
  text-decoration: none;
  color: black;
}

/*------------Media Query--------------*/
@media only screen and (max-width: 815px) {

body {
  font-size: 30px;
  text-align: center;
}

header {
  font-size: 3rem;

}

main {
  position: none;
  margin: 0 0 0 0;
  padding: 80px;
  left: 0;
  text-align: left;
}

p {
  display: block;
  margin-left: 0;
  margin-bottom: 20px;
}

#navbar {
  min-width: 218.5%;
  height: auto;
  box-shadow: none;
  position: relative;
}

.primary-nav--title {
  padding: 20px 0 20px 0;
}

.primary-nav--ul {
  position: relative;
  background-color: white;
  height: auto;
  padding: 0;
}

.primary-nav--li {
  position: none;
  font-size: 1.8rem;
}

code {
  margin-left: 0;
}
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 45px;
  }

  header {
    font-size: 3.2rem;
    font-weight: 600;
  }

  main {
    width: 350%;
    position: none;
    padding: 80px;
    left: 0;
    text-align: left;
  }

  code {
    margin-left: -20px;
    margin-right: 15px;
    overflow-y: scroll;
  }

  #navbar {
    min-width: 400.5%;
  }

  .primary-nav--title {
    padding: 40px 0 40px 0;
    font-size: 5rem;
  }

  .primary-nav--li {
    position: none;
    font-size: 2.5rem;
    font-weight: 600;
  }
}
